<%= form_with(model: egg) do |form| %>
  <% if egg.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(egg.errors.count, "error") %> prohibited this egg from being saved:</h2>

      <ul>
        <% egg.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :game %>
    <%= form.text_field :game %>
  </div>

  <div class="field">
    <%= form.label :'Difficulty Rating(max:13)' %>
    <%= form.number_field :diffRating %>
  </div>

  <div class="field">
    <%= form.label :guide %>
    <%= form.text_area :guide %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
