<header>
  <a href=<%= root_path %>>
    <%=image_tag("EasterIslandHead.png", alt:"Site Logo", size:"40") %>Easter Egg Island
  </a>
</header>

<br>

<div class=formHeader><h1>Edit Your Egg</h1></div>

<%= render 'form', egg: @egg %>

<%= link_to 'Show', @egg %> |
<%= link_to 'Back', eggs_path %>
