<h1>Freshest Eggs</h1>

<br>

<button><%= link_to 'New Egg', new_egg_path %></button>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Game</th>
      <th>Difficulty</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eggs.each do |egg| %>
      <tr>
        <td><%= egg.title %></td>
        <td><%= egg.game %></td>
        <td><%= egg.diffRating %></td>
        <td><button><%= link_to 'View Egg', egg %></button></td>
        <% if user_signed_in? %>
          <td><button><%= link_to 'Change Egg', edit_egg_path(egg) %></button></td>
          <td><button><%= link_to 'Toss Egg', egg, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
        <% end %>       
          </tr>
    <% end %>
  </tbody>
</table>

<br>

<% @eggs.each do |egg| %>
  <div class="eggShell">
    <h1><%= egg.title %></h1>
    <h2><%= egg.game %></h2>
    <h3>Difficulty: <%= egg.diffRating %></h3>
    <h4>Guide:</h4>
    <div class="yolk"><p><%= egg.guide %></p></div>
    <button><%= link_to 'View Egg', egg %></button>
    <% if user_signed_in? %>
      <button><%= link_to 'Change Egg', edit_egg_path(egg) %></button>
      <button><%= link_to 'Toss Egg', egg, method: :delete, data: { confirm: 'Are you sure?' } %></button>
    <% end %> 
  </div>
<% end %>

<br>


