<p id="notice"><%= notice %></p>

<div class=eggShell>
  <h1>
    <strong><%= @egg.title %></strong>
    
  </h1>

  <p>
    <strong>Game:</strong>
    <%= @egg.game %>
  </p>

  <p>
    <strong>Difficulty Rating:</strong>
    <%= @egg.diffRating %>
  </p>

  <p>
    <strong>Guide:</strong>
    <div class=yolk><%= @egg.guide %></div>
  </p>
</div>

<% if user_signed_in? %><%= link_to 'Edit', edit_egg_path(@egg) %> |<% end %>
<%= link_to 'Back', eggs_path %>
